<h3>What</h3><hr>
<p>
  This will be a place to read about programming terms and concepts.  Many of these are complicated
  subjects and may seem overwhelming for newcomers to the industry, and my mission is to simplify them.
</p>

<h3>Why</h3><hr>
<p>
  Being a newcomer myself, I am beginning to understand how important it is to clearly articulate
  thoughts, plans, and areas of confusion.  Aside from introducing new concepts and terminology, I
  aim to 
</p>

<p>
  The main goal of this blog is to demystify some of the most important and fundamental concepts in
  programming, not just for interested readers, but also for myself.
</p>

<h3>How</h3><hr>
<p>
  Some of the material posted here will be already familiar to me, and I will do my best to break
  it down to the lowest common denominator.  Others will be concepts foreign to me, but that I feel
  are important to familiarize oneself with.  In both cases, I aim to increase my understanding of the
  topics I report on by dissolving potentially elephant-sized meals into more manageable bite-sized
  chunks of easily relatable knowledge.
</p>

<p>
  I'll provide links for further reading on all topics I cover, and will always acknowledge when my
  understanding of a topic is still in its infancy.  I always encourage readers to question/challenge
  my material (considering you're not a troll).  I'll do my best to accomodate any opinions on moot material.
</p>

<p>
  I want to have fun with this, so I plan on throwing in a good portion of humorous material, which will
  most likely be sectioned off, as will other categorized topics of debate.
</p>
