<!DOCTYPE html>
<html>
<head>
  <title>ThePoorGrammarProgrammer</title>
  <%= stylesheet_link_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<body>
  <div class="navbar navbar-default">
    <div class='container'>
        stuff
    </div>
  </div>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
